body {
    background: url("//images/back.png") no-repeat center center fixed;
    background-size: cover;
    height: 100%;
}

*{
    margin: 0;
    padding: 0;
}

h1 {
    padding-left: 50px;
}

footer {
    height: 20px;
}

footer > h5 {
    text-align: right;
    margin-right: 20px;
}

a {
    text-decoration: none;
    padding: 5px 10px;
    letter-spacing: 1px;
    margin: 0 20px;
    font-size: 16px;
    font-family: 'Fredoka One', cursive;
    transition: .3s ease-in-out;
}

.container {
    height: 100%;
}

.container > iframe {
    grid-column-start: 1;
    grid-column-end: 3;
    width: 90%;
    height: 600px;
    margin: 20px;
}

.container > nav {
    margin-top: 10px;
    grid-column-start: 1;
    grid-column-end: 3;
    padding-bottom: 20px;
}

li {

}

div ul {
    background-color: snow;
    box-shadow: 1px 1px 1px 1px rgb(35, 52, 52);
    list-style: none;
    position: relative;
    min-width: 200px;
}

div ul li {
    padding: 10px;
    display:inline-block;
    position: relative;

}

div li {
    background-color: snow;
}

div li:hover {
    background-color: azure;
}

div ul ul {
    display: none;
    position: absolute;
    margin: 2px;
    top:100%;
    left: 0;
    min-width: 220px;
}

div ul li:hover > ul {
    display:inherit;
}

div ul ul li {
    float:none;
    display:list-item;
    position: relative;

}

div ul ul ul {
    position: absolute;
    margin: 2px;
    top: 0;
    left: 100%;
}