body {
    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
    background: url("/images/back.png") no-repeat center center fixed;
    background-size: cover;
    height: 100%;
}

h1 {
    padding-left: 50px;
}

footer h5 {
    float: right;
}

a {
    text-decoration: none;
    padding: 5px 10px;
    letter-spacing: 1px;
    margin: 0 20px;
    font-size: 16px;
    font-family: 'Fredoka One', cursive;
    transition: .3s ease-in-out;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.container iframe {
    grid-column-start: 1;
    grid-column-end: 3;
    width: 80%;
    height: 500px;
    margin: auto;
}

.container nav {
    grid-column-start: 1;
    grid-column-end: 3;
    margin: auto;
    padding-bottom: 20px;
}

li {
    box-shadow: 0 0 10px 5px rgb(35, 52, 52);
}

nav ul {
    list-style: none;
    position: relative;
    min-width: 200px;
}

nav ul li {
    padding: 10px;
    display:inline-block;
    position: relative;

}

nav li {
    background-color: snow;
}

nav li:hover {
    background-color: azure;
}

nav ul ul {
    display: none;
    position: absolute;
    top:100%;
    right: 0;
    min-width: 220px;
}

nav ul li:hover > ul {
    display:inherit;
}

nav ul ul li {
    float:none;
    display:list-item;
    position: relative;

}

nav ul ul ul {
    position: absolute;
    top: 50%;
    left: 100%;
}